python-dotenv==1.0.1
requests==2.32.3
moviepy==1.0.3
imageio-ffmpeg==0.6.0
Pillow==10.4.0
opencv-python==4.10.0.84
numpy==1.26.4
playwright==1.46.0
gTTS==2.5.3
edge-tts==7.2.8
pydub==0.25.1
schedule==1.2.2
openai>=1.43.0
